:root {
  --white: #fff5f9;
  --pink: #ffd0e3;
  --dark-purple: #4c0f89;
}

body {
  background-color: var(--pink);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--dark-purple);
  color: var(--white);
  text-align: center;
  padding: 16px 0;
  font-family: "Manrope", "Courier New", Courier, monospace;
  font-size: 36px;
  font-weight: 800;
}

/* Canvas Container */
main {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

canvas {
  border-radius: 14px;
}

.primary_btn {
}

.secondary_btn {
}
